<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Name</key>
			<string>Representative</string>
			<key>Image</key>
			<string>operator1.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Representative</string>
			<key>Image</key>
			<string>operator2.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Representative</string>
			<key>Image</key>
			<string>operator3.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Representative</string>
			<key>Image</key>
			<string>operator4.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Representative</string>
			<key>Image</key>
			<string>operator5.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Representative</string>
			<key>Image</key>
			<string>operator1.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Representative</string>
			<key>Image</key>
			<string>operator2.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Representative</string>
			<key>Image</key>
			<string>operator3.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Representative</string>
			<key>Image</key>
			<string>operator4.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Representative</string>
			<key>Image</key>
			<string>operator5.png</string>
		</dict>
	</array>
</array>
</plist>
